[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.7"
